# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "N5cq32cJFbOZdoTM5iPtEVSinRmQZ7sNDTRFD8T50IYyjIDL1vjWZ/AUze3l0GskUaPdN23xT9TKzQeqahIDsgu3muNj4ctFarIbJZZ3BWQ3cQQS3FKiahLRUIW/3arF/ad3UkMkxyKdUke+UMH76cXhZ21cvs+AQClhOYdh7YZx5U5m7n9TFFvo3SWoQHrz8i9YsOOQDtyS9a/F4EOtXi2v6VikeXHHihBnmiBRZkxAh9gzxx9KqHAcUg4xz/oGWH171JS9Ld0z0T/96Q10Gl0EBgwccisay3+lGC3F1X+IxGVtdmtkERncAHGRxrUmMi6FGE/SaUA2dqCe0q2p+eVhb3MUiZnfZ1ZBYPKZ6yLFz9hFAS5gKu2T5K3lbilZyF+qg6HydEQm7bAtsvxQAPcrLp0aVV29nIaUmJJXp0xmhNFC81xwUDaPxxJX6DqOHPssgG5+D4zUJcGn2p1wTgxmgwoLx9+VmYB77I7vCJ3s0+qJzO1BXGYcwPKoEya7doafm7MvyMdOKsqEC1LFFAEZ2zwhyuCrHB5Eaufmutr8SCoNrtQ9ZyKZj/r2ARI/RBOdK3GQh/0+kpeTJtroM40fNuSaeedND+vYofHjVXHEh45i31JLVPav4vxwb0WH3MYkCsUh0Fr3TIpoUIF0ankhXlzI7iEiZ9Uqi84dnm8="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2 conda-build
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  -  conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml